.container {
  display: grid;
    gap: 5vw;
    grid-template-areas: 
    "image heading"
    "image text";
  border: 1px solid blue;
  padding: 5vw;
  width: 85vw;
  margin: auto;
}

img {
  grid-area: image;
  /* max-width: 60vw; */
  height: auto;
  width: 100%;
  margin: auto;
}

.text {
  grid-area: text;
}

.heading {
  grid-area: heading;
}