.container {
  display: grid;
    gap: 5vw;
    grid-template-areas: 
    "image image image"
    "heading text text";
  align-items: center;
  border: 1px solid blue;
  padding: 5vw;
  width: 85vw;
  margin: auto;
}

img {
  grid-area: image;
  width: 85%;
  height: auto;
  max-height: 250px;
  overflow-y: hidden;
  margin: auto;
}

.text {
  grid-area: text;
  text-align: justify;
  text-align-last: center;
}

.heading {
  grid-area: heading;
  text-align: center;
}